html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: skyblue;
}

canvas {
    display: block;
}


#message {

    position: fixed;

    top: 120px;
    left: 50%;

    transform: translateX(-50%);

    font-family: 'VT323', monospace;
    font-size: 64px;

    color: #8FAF63;

    text-shadow:
        4px 4px 0 #f5a6ce,
        8px 8px 0 #ffffff;

    pointer-events: none;

    z-index: 9999;

    text-align: center;
}